.post {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #c8c7c7;
    padding-bottom: 1em
}

.post a {
    font-family: "微软雅黑", "Open Sans", "Ubuntu", Helvetica, Arial, sans-serif;
    color: #48a9e7
}

.post a:hover {
    text-decoration: underline
}

.post-left {
    width: 75px;
    float: left;
    color: #cecece;
    padding: 1em 10px 0 0;
    margin-right: 21px;
    border-right: 1px solid #c8c7c7;
    text-align: right
}

.post-left:hover {
    color: #48a9e7
}

.post-date {
    padding-top: 10px;
    font-family: "CabinBold", Arial, sans;
    font-size: 400%;
    line-height: 32px;
    text-align: center;
    letter-spacing: -2px
}

div.post-left div.post-date span {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0
}

.post-right {
    padding-top: 1em;
    overflow: hidden;
    margin: 0;
    position: relative
}

#post-title {
    color: #2b9b0c;
    margin: 0 0 9px;
    padding: 0;
    font-family: 'CabinRegular', Arial;
    font-size: 2em
}

#post-title a {
    color: #48a9e7;
    text-decoration: none
}

#post-title a:hover {
    text-decoration: none;
    color: #21759b;
    border-bottom: 1px solid #48a9e7
}

.post-right h6 {
    font-family: 'CabinRegular', Arial;
    color: silver;
    font-size: 1em;
    font-weight: normal;
    margin: 0 auto .5em
}

.post-overview-right {
    float: left
}

.ui-menu-item {
    list-style-type: none
}

.ui-menu-item a, #search {
    color: #21759b
}

.ui-menu-item a:hover {
    color: #2b9b0c;
    cursor: pointer;
    background: white;
    border-color: silver !important
}

#search:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

code {
    word-wrap: break-word;
    font-size: 1.5em;
    font-family: arial, "微软雅黑"
}

p code {
    font-size: 18px
}

.ui-menu .ui-menu-item a {
    border: 1px solid #fff
}

#backToTop {
    display: block;
    width: 50px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 3em;
    right: -5em;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid silver;
    -moz-transition: right .5s;
    -webkit-transition: right .5s;
    -o-transition: right .5s;
    -ms-transition: right .5s;
    transition: right .5s
}

#backToTop:hover {
    background: #fff
}

#backToTop span {
    display: block;
    width: 50px;
    color: #2b9b0c;
    font-size: 40px
}

#backToTop span:hover {
    color: #21759b
}