@media all and (max-width: 700px) {
    .post .post-left{
        display: none;
    }
    .post-date-right{
        display: inline-block;
    }
}
@media all and (max-width: 489px){
    .nav {
        width: inherit;
        padding:0 10px;
    }
    .search_input{
        right: 10px;
    }
}
@media (max-width: 409px) {
    .nav li:nth-last-child(2){
        display: none;
    }
}
@media (max-width: 356px) {
    .nav li:nth-last-child(3){
        display: none;
    }
}